@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-form/fonts/Norse-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

.main {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
}

.left {
    background-image: url(../sign-up-form/img/leaves.jpg);
    width:35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: Norse-Bold, sans-serif;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width:65vw;
}

h4{
    margin-left: 30px;
}

.third {
    height:33vh;
}

.first{
    height:25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 30px;
}

.second{
    background-color: #ffff;
    height:40vh;
}

.form-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:55%;
    margin-left:30px;
}

.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input{
    width:200px;
    height:22px;
    border: 1px solid #E5E7EB;
    border-radius:5px;
}

input:focus{
    outline-style: none;
    border:1px solid blue;
}


input:invalid{
    border:1px solid red;
}
