@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-form/fonts/Norse-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

.main {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
}

.left {
    background-image: url(../sign-up-form/img/leaves.jpg);
    width:35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: Norse-Bold, sans-serif;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width:65vw;
}

h4{
    margin-left: 30px;
}


.first{
    height:35vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 30px;
}

.second{
    background-color: #ffff;
    height:35vh;
    padding-top: 1px;
}

.form-main-div{
    display:flex;
    flex-direction: row;
    margin:30px;
    width:80%;
    justify-content: space-between;
}

.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 13px;
    color: gray;
    justify-content: space-between;
}

input{
    width:200px;
    height:22px;
    border: 1px solid #E5E7EB;
    border-radius:5px;
}

input:focus{
    outline-style: none;
    border: 1px solid blue;
}


input:invalid{
    border:1px solid red;
}

#error{
    color:red;
    font-size:10px;
    margin: 1px;
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;
}

button{
    width: 200px;
    height: 45px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    color:white;
    background-color: #596D48;
    border: 1px solid #596D48;
}

.hyperlink{
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 13px;
}

a{
    text-decoration: none;
    color:#596D48;
    font-weight: bold;
}